@font-face {
  font-family: "Sora";
  src: url(./App/fonts/Sora.ttf);
}

@font-face {
  font-family: 'inter';
  src: url(./App/fonts/Inter.ttf);
}

:root {
  --text-color: #121212;
  --gray-200: #e4e4e7;
  --gray-50: #fafafa;
  --gray-special: #222225;
  --gray-300: #d4d4d8;
  --gray-00-white: #fff;
  --gray-default: #C6C6C6;
  --dark-color: #1D1D1D;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
}